@import "utils/general.scss";
@import "components/header";
@import "components/userCard";
@import "components/filterBloc";
@import "components/userList";
@import "components/pagination";

#main{
    border: 1px solid;
    min-width: 250px;
    max-width: 1000px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

