@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
body {
  background-color: #FAFAFA;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img {
  width: 100%;
  height: 100%; }

header {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31); }
  header div {
    max-height: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.6em; }
    header div span {
      margin-right: 10px;
      font-weight: bold;
      color: #00B0FF; }
  header .image-bloc {
    width: 25px;
    margin-left: 10px; }

.user-card {
  width: 200px;
  border: 1px solid red; }

aside {
  min-width: 200px;
  width: 250px;
  margin: auto;
  padding: 25px 10px 25px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
  border-radius: 7px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgba(0, 0, 0, 0.8); }
  aside h4 {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9); }
