.button{
    text-align: center;

    button{
        background-color: $accent-color;
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        font-size: 0.8em;
        padding: 5px;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover{
            transform: scale(0.9);
        }
    }
}